<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.sebastien.balard.android.squareup"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:name=".SQApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/sq_app_name"
        android:supportsRtl="true"
        android:theme="@style/SQTheme">
        <activity
            android:name=".ui.activities.SQHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SQTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.SQCurrenciesListActivity"
            android:label="@string/sq_commons_my_currencies"
            android:screenOrientation="portrait"
            android:theme="@style/SQTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activities.SQEditEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SQTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name=".ui.activities.SQSettingsActivity"
            android:label="@string/sq_actions_settings"
            android:screenOrientation="portrait"
            android:theme="@style/SQTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ui.activities.SQAboutActivity"
            android:label="@string/sq_actions_about"
            android:screenOrientation="portrait"
            android:theme="@style/SQTheme.NoActionBar">
        </activity>

        <service
            android:name=".ui.services.SQAsyncUpdateService"
            android:exported="false">
        </service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="7988e6ed164e770bc103a2ffd3a6037c24bbc405"/>
    </application>

</manifest>
